---
layout: default
---
<div class="flextainer">
  {% for post in paginator.posts %}
    <div class="front-article">
      <h2><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h2>
      {{ post.excerpt }}
      {% if post.excerpt != post.content %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="readmore">weiterlesen</a>
      {% endif %}
      <p class="tags">{{ post.date | date_to_string }} - {{ post.author }}</p>
      {% if post.tags != empty %}
      <p class="tags">Tags: {% for tag in post.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}" class="taglist">{{ tag_name }}</a>
      {% endfor %}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        zurück
      </a>
    {% else %}
      <span class="previous"> </span>
    {% endif %}
    <span class="page_number">
      &nbsp;Seite: {{ paginator.page }} of {{ paginator.total_pages }}&nbsp;
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">weiter</a>
    {% else %}
      <span class="next "> </span>
    {% endif %}
  </div>
  <code></code><a rel="me" href="https://procial.tchncs.de/@benoegen">Social</a></code>




