/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/source-sans-pro-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/source-sans-pro-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/source-sans-pro-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/source-sans-pro-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/source-sans-pro-v18-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/source-sans-pro-v18-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/playfair-display-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-700 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/playfair-display-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-900 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/playfair-display-v25-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v25-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media screen and (max-width: 800px){
  .front-article{padding-left: 0 !important};
  .single-article{padding-left: 0 !important};
  .tag-article{padding-left: 0 !important};
}

body {
  overflow-y: scroll;
  font-family: 'Source Sans Pro';
}

.current {
    color: grey !important;
  }

.logo{
  height: 6rem;
}

.logotainer{
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: auto auto 3rem;
  padding-left: 0.5rem;
  padding-top: 2rem;
  align-items: flex-end;
}

.flextainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: auto;
  padding-top: 2rem;
}

.single-article{
  margin: auto;
  padding-left: 4rem;
  max-width: 55rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.single-article h2{
  font-weight: 900
}


.tag-article{
  margin: auto;
  margin-bottom: 10rem;
  padding-left: 4rem;
  max-width: 55rem;
  padding-top: 2rem;
}

.tag-article-article{
  margin-bottom: 5rem;
}


.front-article{
  padding-left: 4rem;
  width: 35rem;
}

.front-article p{
  color: hsl(0, 0%, 38%);
  line-height: 1.6;
}

.front-article h2 a:hover{
  color: #616161;
}

.single-article p{
  color: hsl(0, 0%, 38%);
  line-height: 1.6;
}

img.img-responsive{
  width: 100%;
}

p.tags{
  color: #979797;
  font-size: 0.8rem;
}

h1{
  font-family: 'Playfair Display';
  font-size: 2rem;
  font-weight: 700;  
}

h2{
  font-family: 'Playfair Display';
  font-size: 2rem;
  font-weight: 900;
}

h3{
  font-family: 'Playfair Display';
  font-weight: 700;
}

.post-title{
  text-decoration: none;
  color: black;
}

code{
  background-color: #e6e6e6;
}

.highlighter-rouge{
  background-color: #e6e6e6;
}

a.website-title{
  text-decoration: none;
  color: black;
  padding-left: 1rem;
  font-family: 'Playfair Display';
  font-size: 3rem;
  font-weight: 900; 
}

a.taglist{
  text-decoration: none;
  color: #979797;
  font-size: 0.8rem;
}

a.taglist:visited{
  text-decoration: none;
  color: #979797;
}

a.taglist:hover{
  text-decoration: none;
  color: #4d4b4b;
}


a.taglisttitle{
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: 700;
}

a.taglisttitle:visited{
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: 700;
}

a.taglisttitle:hover{
  text-decoration: none;
  color: #4d4b4b;
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: 700;
}


nav{
  flex-grow: 3;
  text-align: right;
  margin-right: 1rem;
  max-height: 2rem;
}

nav a:link{
  font-family: 'Playfair Display';
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
  padding-right: 1rem;
}

nav a:visited{
  color: black;
}

nav a:hover{
  color: black;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border-style: none;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: none;
}

.pagination{
  display: flex;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: auto;
  margin-bottom: 5rem;
  padding-top: 2rem;
  padding-left: 20rem;
  text-decoration: none;
  color: #5c5c5c;
  font-size: 1rem;
}

.pagination a{
  text-decoration: none;
  color: #5c5c5c;
  font-size: 1rem;
}

.pagination a:visited{
  text-decoration: none;
  color: #5c5c5c;
}

.pagination a:hover{
  text-decoration: underline;
  color: #979797;
}

a.readmore {
  text-decoration: none;
  color: #5c5c5c;
  font-size: 1rem;
}

a.readmore:visited{
  text-decoration: none;
  color: #5c5c5c;
}

a.readmore:hover{
  text-decoration: underline;
  color: #979797;
}

.page_number{
  color:black;
}