@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@media screen and (max-width: 800px){
  .front-article{padding-left: 0 !important};
}

body {
  overflow-y: scroll;
  font-family: 'Source Sans Pro';
}

.current {
    color: grey !important;
  }

.logo{
  height: 6rem;
}

.logotainer{
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: auto auto 3rem;
  padding-left: 0.5rem;
  padding-top: 2rem;
  align-items: flex-end;
}

.flextainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: auto;
  padding-top: 2rem;
}

.single-article{
  margin: auto;
  padding-left: 4rem;
  max-width: 76rem;
  padding-top: 2rem;
}

.tag-article{
  margin: auto;
  padding-left: 4rem;
  max-width: 76rem;
  padding-top: 2rem;
}

.tag-article ul{
  max-width: 50rem;
}

.front-article{
  padding-left: 4rem;
  width: 35rem;
}

.front-article p{
  color: hsl(0, 0%, 38%);
}

img.img-responsive{
  width: 100%;
}

p.tags{
  color: #979797;
}

h1{
  font-family: 'Playfair Display';
  font-size: 3rem;
  font-weight: 700;  
}

h2{
  font-family: 'Playfair Display';
  font-size: 2rem;
  font-weight: 700;
}

.post-title{
  text-decoration: none;
  color: black;
}

a.website-title{
  text-decoration: none;
  color: black;
  padding-left: 1rem;
  font-family: 'Playfair Display';
  font-size: 3rem;
  font-weight: 700; 
}

a.taglist{
  text-decoration: none;
  color: #979797;
}

a.taglist:visited{
  text-decoration: none;
  color: #979797;
}

a.taglist:hover{
  text-decoration: none;
  color: #4d4b4b;
}


a.taglisttitle{
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: 700;
}

a.taglisttitle:visited{
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: 700;
}

a.taglisttitle:hover{
  text-decoration: none;
  color: #4d4b4b;
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: 700;
}


nav{
  flex-grow: 3;
  text-align: right;
  margin-right: 1rem;
  max-height: 2rem;
}

nav a:link{
  font-family: 'Playfair Display';
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
  padding-right: 1rem;
}

nav a:visited{
  color: black;
}

nav a:hover{
  color: black;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border-style: none;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: none;
}